.m-modal_contact {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #000000;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.m-modal_contact .m-modal_container {
    background-color: #ffffff;
    width: 700px;
    height: 650px;
    border: 1px solid #cccccc;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    font-weight: 600;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 100;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.m-modal_contact .m-modal_container .m-modal_title {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

.m-modal_contact .m-modal_container .m-modal_input {
    display: flex;
    flex-direction: column;
}

.m-modal_contact .m-modal_container .m-modal_input .m_input {
    margin: 10px 0px;
    padding: 20px;
    border: solid 1px #000000;
    border-radius: 10px;
}

.m-modal_contact .m-modal_container .m-modal_input .tx_count {
    position: absolute;
    color: #000000;
    font-size: 20px;
    bottom: 115px;
    right: 40px;
}

.m-modal_contact .m-modal_container .m-modal_input .m_textarea {
    margin: 10px 0px;
    padding: 20px;
    height: 300px;
    resize : none;
    border: solid 1px #000000;
    border-radius: 10px;
}

.m-modal_contact .m-modal_container .cancel_contact {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 46%;
    padding: 15px 0;
    background-color: #ffffff;
    color: #1b1b1b;
    font-weight: 600;
    border: 1px solid #1b1b1b;
    border-radius: 5px;
    cursor: pointer;
}

.m-modal_contact .m-modal_container .cancel_contact:hover {
    background-color: #fd5622;
    color: #ffffff;
    border: 1px solid #fd5622;
}

.m-modal_contact .m-modal_container .submit_contact {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 46%;
    padding: 15px 0;
    background-color: #1b1b1b;
    color: white;
    font-weight: 600;
    border: 1px solid #1b1b1b;
    border-radius: 5px;
    cursor: pointer;
}

.m-modal_contact .m-modal_container .submit_contact:hover {
    background-color: #4b93db;
    color: #ffffff;
    border: 1px solid #4b93db;
}