.container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container .intro {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.container .intro .intro_img {
    width: 50%;
}

.container .intro .intro_img img {
    width: 100%;
    max-height: 370px;
    border-radius: 20px;
}

.container .intro .intro_text {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    color: #333;
}

.container .contacts {
    background-color: #1b1b1b;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.container .contacts h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.container .contacts p {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 20px;
}

.container .contacts .contact_btn {
    background-color: #ff6639;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.container .contacts .contact_btn:hover {
    background-color: #ffec59;
    color: #0e0e0e;
}