@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.container {
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.container .intro {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.container .intro .intro_img {
    width: 50%;
}

.container .intro .intro_img img {
    width: 100%;
    border-radius: 20px;
}

.container .intro .intro_text {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    color: #333;
}

.container .contact {
    background-color: #1b1b1b;
    color: white;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
}

.container .contact h2 {
    margin-bottom: 20px;
}

.container .contact p {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 20px;
}

.container .contact .contact_btn {
    background-color: #99ff00;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.container .contact .contact_btn:hover {
    background-color: #ffec59;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: -80px;
    font-size:30px;
    font-family: 'Ownglyph_ParkDaHyun';

}
.header .search {
    display: flex;
    align-items: center;
}
.header ,.region{
     margin-top:50px;
     width: 10%;
     height: 55px;
     border-radius: 1em;
     background-color: #A7E6FF;
     font-family: 'Ownglyph_ParkDaHyun';
     font-size: 35px;
     color:white;
     border:none;
     cursor:pointer;
}
.header ,.search input{
    background-color: #3ABEF9;
    width: 121%;
    height: 100px;
    border: 1px solid #f9f9f9;
    border-radius: 4px;
    display: flex;
    margin-top:-11.5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h4{
   margin-top: 5px;
   font-weight:bold;
   font-size: 40px;
   font-family: 'Ownglyph_ParkDaHyun';
   align-items:center;
   color: white;
}

h3{
   ddisplay: inline-block;
   font-weight:bold;
   font-size: 20px;
   font-family: 'Ownglyph_ParkDaHyun';
}
.tags {
    margin-left:20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 120px;
    margin-bottom: -110px;
    width: clamp(60rem, calc(10rem + 1vw), 1rem);
    font-family: 'Ownglyph_ParkDaHyun';
}

.tags .tag {
    background-color: #ffec59;
    padding: 14px 50px;
    border-radius: 2em;
    cursor: pointer;
    font-size: 20px;
}

.tags .tag.active {
    background-color: #f57224;
    color: #fff;
}

.box{
    border: 1px solid #fff;
    width: clamp(9rem, calc(10rem + 2vw), 1rem);
    min-height: 100px; /* 최소 높이 설정 */
    padding: 33px;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    background: #fff;
    cursor:pointer;
    background-color:#fff;
    font-family: 'Ownglyph_ParkDaHyun';
}

.box:hover{
    transform: scale(1.05);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 10px;
    padding: 5px;
    border: none;
    border-radius:1em;
    border: solid 1px #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card .restaurant-info {
    text-align: center;
    background-color: #fff;
    border-radius:5em;
    height: 100%;
    width:100%;
    margin-top:-10px;
}

.card .restaurant-name {
    font-size: 1.3rem;
    font-weight: bold;
    border-radius:3em;
    color: #333;
    font-family: 'Ownglyph_ParkDaHyun';
}

.card .rating {
    font-size: 1rem;
    color: #888;
    width:100%;
}

.card .rating:hover {
    color: #007BFF;
}

.all{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:150px;

}

.cardall{
    border: solid 1px #fff;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.cardtwo{
     margin-top: 40px;
     border-radius: 15px;
     padding: 50px;
     border: solid 1px #fff;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
     display: flex;
}

.group-title {
    position:absolute;
    font-size: 2.5rem;
    font-weight: bold;
    left: 100px;
    margin-top: -50px;
    text-align: center;
    color: #333;
    font-family: 'Ownglyph_ParkDaHyun';
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: -180px;
}

.previous, .next {
    margin-top: 200px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Ownglyph_ParkDaHyun';
    font-size: 20px;
}

.previous:hover, .next:hover {
    background-color: #45a049;
}
