@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.find-store-container {
    font-family: 'Ownglyph_ParkDaHyun', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.left-arrow,
.right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #ffe0b2;
    border-radius: 50%;
    font-size: 24px;
    line-height: 1;
    color: #ff5722;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.left-arrow:hover,
.right-arrow:hover {
    background-color: #ffa726;
    color: white;
}

.restaurant-card {
    padding: 15px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff2e9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.restaurant-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.restaurant-card img {
    width: 100%;
    height: 170px;
    object-fit: fill;
    border-radius: 4px;
}

.restaurant-card h2 {
    font-size: 24px;
    margin: 5px 0;
    color: #ff5722;
}

.restaurant-card h3 {
    font-size: 20px;
    margin: 5px 0;
    color: #f6be5c;
}

.restaurant-card p {
    margin: 5px 0;
    font-size: 20px;
    color: #484848;
}