
/* 로그인 폼 스타일 */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin-top: 50px;
  /*border: 1px solid #ccc;*/
  border-radius: 8px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;

}

.login-form h1 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

.input-field {
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-field:focus {
  border-color: #66afe9;
  outline: none;
}

.login-button {
  background-color: #1b1b1b;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  margin-top: 20px;
}

.login-button:hover {
  background-color: #99ff00;
}

/* 카카오, 구글 로그인 버튼 스타일 */
.signup-button {
  background-color: #ffcd00;
  color: black;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.signup-button:hover {
  background-color: #ff9d00;
}

/* 추가 링크 스타일 */
.form-group .label {
  margin-top: 10px;
  text-align: center;
}

.form-group .label a {
  color: #1b1b1b;
  text-decoration: none;
  font-size: 4px;
}

.form-group .label a:hover {
  text-decoration: underline;
}
.label{
    cursor:pointer;
    margin-top: 20px;
    font-size: 16px;
}
.label:hover{
    background-color: #3572EF;
}