.myc_container {
    margin: 0px 25px;
    border: 1px solid #1b1b1b;
    border-radius: 20px;
    height: 300px;
}
.myc_container .my_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.myc_container .my_top .my_crew {
    position: relative;
    margin: 0;
    top: 15px;
    left: 15px;
    font-size: 35px;
}
.myc_container .my_top .crew_btn {
    position: relative;
    margin: 0px;
    right: 20px;
    cursor: pointer;
}
.myc_container .my_top .crew_btn .mc_btn {
    margin-left: 5px;
    padding: 7px 20px;
    cursor: pointer;
    font-size: 20px;
    color: #c49c18;
    background-color: #e9edab;
    border: solid 1px #c49c18;
    border-radius: 10px;
}
.myc_container .mc_img {
    position: relative;
    width: 200px;
    height: 200px;
    top: 10px;
    left: 20px;
    border: solid 2px #c49c18;
    border-radius: 10px;
}
.myc_container .my_top .crew_btn .mc_btn:hover {
    background-color: #c6c98f;
    color: #fff;
}
.myc_container .my_info {
    position: relative;
    font-size: 20px;
    top: -15px;
    left: 15px;
    font-weight: 100;
}
.bottom_menu {
    position: relative;
    margin: 0px;
    top: 20px;
}
.bottom_menu .pick_search {
    float: right;
    margin-right: 30px;
}
.bottom_menu .bm_con .bm_title {
    font-size: 35px;
    margin-left: 30px;
    text-align: center;
}
.bottom_menu .bm_con {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}
.bottom_menu .bm_cardlist {
    display: flex;
    flex-direction: column;
}
.bottom_menu .bm_cardlist .cl_card {
    display: flex;
    flex-direction: row;
    margin: 0px 20px;
    padding: 20px;
    border: solid 1px;
    border-radius: 20px;
}
.bottom_menu .bm_cardlist .cl_card img{
    width: 160px;
    height: 160px;
    border: solid 2px #c49c18;
    border-radius: 10px;
}
.bottom_menu .bm_cardlist .cl_card .txt_right {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.bottom_menu .bm_cardlist .cl_card .txt_right .txt_title {
    font-size: 50px;
    display: flex;
}
.bottom_menu .bm_cardlist .cl_card .txt_right .txt_elem {
    list-style:none;
    position: relative;
    margin: 0px;
}
.bottom_menu .bm_cardlist .cl_card .txt_right .txt_elem li {
    float: left;
    margin-right: 20px;
}
.bottom_menu .bm_con .bm_btn {
    padding: 0px 20px;
    font-size: 17px;
    margin-left: 20px;
    border: solid 1px #ba870f;
    border-radius: 5px;
    cursor: pointer;
}
.bottom_menu .bm_con .bm_btn:hover {
    background-color: #b6c41d;
    color: #fff;
}
.bottom_menu .bm_con .bm_btn.active {
    background-color: #b6c41d;
    color: #fff;
}
.bottom_menu .bm_cardlist .cl_card {
    margin: 20px;
}