.sign_up_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px 20px 20px;
    min-height: 670px;
    justify-content: center;
}

.sign_up_form .form_title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.input_sign_up {
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input_sign_up:focus {
    border-color: #66afe9;
    outline: none;
}

.email_agree {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.email_agree label {
    font-size: 14px;
    color: #333;
}

.terms {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.terms label {
    font-size: 14px;
    color: #333;
}

.btn_sign_up {
    background-color: #1b1b1b;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
}

.btn_sign_up:hover {
    background-color: #99ff00;
    color: #333;
}

.container .intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
}

.container .intro .intro_img {
    width: 50%;
}

.container .intro .intro_img img {
    width: 100%;
    border-radius: 20px;
}

.container .intro .intro_text {
    width: 50%;
    padding: 20px;
    font-size: 16px;
    color: #333;
}

.sign_up_form .pw_info {
    display: none;
}

.sign_up_form .pw_info.showup {
    display: block;
    color: red;
    margin-top: -15px;
    margin-bottom: 15px;
    font-size: 20px;
    width: 30%;
}


.container .contact {
    background-color: #1b1b1b;
    color: white;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

.container .contact h2 {
    margin-bottom: 20px;
}

.container .contact p {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 20px;
}

.container .contact .contact_btn {
    background-color: #99ff00;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.container .contact .contact_btn:hover {
    background-color: #ffec59;
    color: #333;
}

u {
    cursor: pointer;
}

/* 모달 css */

/* 모달 배경 스타일 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* 반투명 배경 */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* 모달 콘텐츠 스타일 */
.modal_content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    font-size: 14px; /* 모달 텍스트 크기 */
    line-height: 1.6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* 모달 닫기 버튼 스타일 */
.modal_close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}

.modal_close:hover {
    color: #007bff;
}

/* 모달 제목 스타일 */
.modal_content h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

/* 모달 본문 스타일 */
.modal_content p {
    font-size: 14px;
    color: #555;
}
