@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.top_nav {
    border-bottom: 1px solid #7c7c7c;
    font-family: 'Jua', cursive;
    font-size: 1.2rem;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.top_nav .top_first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 -25px 0;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
}

.top_nav .top_first .top_menu ul, .top_nav .second_menu ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.top_nav .top_first .top_menu ul li, .top_nav .second_menu ul li {
    margin-right: 20px;
}

.logo_image {
    width: 45px;
    height: 45px;
    margin-right: 5px;
}

.top_nav .top_first .top_menu ul li .logo {
    display: flex;
    align-items: center;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    margin-left: -30px;
}

.search_container {
    position: relative;
}

.top_nav .top_first .top_menu .search_box {
    padding: 8px 30px 8px 8px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.search_icon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 27px;
    height: 27px;
    pointer-events: none;
}

.top_nav .top_first .top_menu_btn {
    display: flex;
    align-items: center;
    font-family: 'Jua', cursive;
    font-size: 1.2rem;
}

.top_nav .top_first .top_menu_btn .menu_btn {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    /*font-size: 15px;*/
    font-weight: bold;
    cursor: pointer;
    font-family: 'Jua', cursive;
    font-size: 1.2rem;
}

.top_nav .top_first .top_menu_btn .menu_btn:hover {
    background-color: #1b1b1b;
    color: #ffffff;
}

/* 햄버거 메뉴 아이콘 */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
    transition: all 0.3s ease;
}

.top_nav .second_menu {
    margin: 0 0 20px -20px;
}

.top_nav .second_menu ul li a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.second_menu.show {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    top: 70px;
    right: 10px;
    width: 200px;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 0;
    gap: 10px;
}

.second_menu.show ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
}

.second_menu.show ul li {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

/* 미디어 쿼리: 768px 이하에서 햄버거 메뉴 활성화 */
@media (max-width: 768px) {
    .top_nav {
        height: 142px;
    }

    .hamburger {
        display: flex;
        position: absolute;
        top: 32px;
        right: 15px;
        z-index: 101;
    }

    .second_menu {
        display: none;
    }

    .top_nav .top_first {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .top_nav .top_first .top_menu {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
    }

    .top_nav .top_first .top_menu ul {
        justify-content: center;
        align-items: center;
    }

    .top_nav .top_first .top_menu_btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: -15px;
    }
}

@media (max-width: 450px) {
    .top_nav {
        height: 175px;
    }

    .top_nav .top_first .top_menu ul {
        flex-direction: column;
        align-items: center;
    }
}