.top_nav {
    border-bottom: 1px solid #7c7c7c;
}

.top_nav .top_first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 -25px 0;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
}

.top_nav .top_first .top_menu ul, .top_nav .second_menu ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.top_nav .top_first .top_menu ul li, .top_nav .second_menu ul li {
    margin-right: 20px;
}

.top_nav .top_first .top_menu ul li .logo {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    margin-left: -30px;
}
.top_nav .top_first .top_menu .search_box {
    padding: 8px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.top_nav .top_first .top_menu_btn {
    display: flex;
    align-items: center;
}

.top_nav .top_first .top_menu_btn .menu_btn {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.top_nav .top_first .top_menu_btn .menu_btn:hover {
    background-color: #1b1b1b;
    color: #ffffff;
}

.top_nav .second_menu {
    margin: 0 0 20px -20px;
}

.top_nav .second_menu ul li a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}